body{
    background-color: black !important;
}
#input{
    margin-top: 40px;
    margin-bottom:100px;
}
#inputFields{
    width:400px;
    
}
#firstImage {
    width: 100%;
    height: 400px;
}


.card{
    border:2px solid blue !important;
    margin: 20px;
    height: 470px !important;
    
}
.card-img-top{
    width:100%;
    height: 300px;
}
.card-body{
    
    padding: 10px;
    background-color: rgb(69,69,69);
    color: rgb(255, 255, 255) !important;
    
}
#movieStatus{
    color: red;
}